h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-columns: 1fr;
}

.alarmaYBackupClientes {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.ticketsYEvolucion {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.estadoServidores {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.salaDeEspera {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}


@media screen and (max-width: 768px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .alarmaYBackupClientes {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .ticketsYEvolucion {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  .estadoServidores {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
  }

  .salaDeEspera {
    grid-row: 4 / 5;
    grid-column: 1 / -1;
  }
}